name: Build and Deploy to CloudFunction

on:
  push:
    branches: [ main ]

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - id: auth
        uses: google-github-actions/auth@v2
        with:
          project_id: "dev-aileron-214211"
          workload_identity_provider: 'projects/1042576031837/locations/global/workloadIdentityPools/worker-pool/providers/gha-provider'
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - id: 'gcloud'
        name: 'gcloud'
        run: |-
          gcloud auth login --brief --cred-file="${{ steps.auth.outputs.credentials_file_path }}"
          gcloud services list
      
      - id: 'deploy'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          name: 'GoCrypto'
          runtime: 'go121'
          region: 'australia-southeast1'
          secrets: |-
            API_KEY=projects/${{ secrets.GCP_PROJECT_NUMBER }}/secrets/BNC_API_KEY/versions/1
            SECRET_KEY=projects/${{ secrets.GCP_PROJECT_NUMBER }}/secrets/BNC_SECRET_KEY/versions/1
            PROJECT_ID=projects/${{ secrets.GCP_PROJECT_NUMBER }}/secrets/PROJECT_ID/versions/1
